
.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.rickshaw_graph .detail.inactive {
	opacity: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .x_label {
	font-family: Arial, sans-serif;
	border-radius: 3px;
	padding: 6px;
	opacity: 0.5;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: white;
	white-space: nowrap;
}
.rickshaw_graph .detail .x_label.left {
	left: 0;
}
.rickshaw_graph .detail .x_label.right {
	right: 0;
}
.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -1em;
	white-space: nowrap;
}
.rickshaw_graph .detail .item.left {
	left: 0;
}
.rickshaw_graph .detail .item.right {
	right: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
}
.rickshaw_graph .detail .item:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;

	content: "";

	border: 5px solid transparent;
}
.rickshaw_graph .detail .item.left:after {
	top: 1em;
	left: -5px;
	margin-top: -5px;
	border-right-color: rgba(0, 0, 0, 0.8);
	border-left-width: 0;
}
.rickshaw_graph .detail .item.right:after {
	top: 1em;
	right: -5px;
	margin-top: -5px;
	border-left-color: rgba(0, 0, 0, 0.8);
	border-right-width: 0;
}
.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -3px;
	margin-top: -3.5px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
	display: block;
}
/* graph */
#chart {
  width: 649px !important;
  height: 400px !important;
  background-color: #fff;
}
.rickshaw_graph {
	position: relative;
}
.rickshaw_graph svg {
  display: block;
  overflow: hidden;
}
@media (max-width:1366px){
#chart {
  width:533px !important;
}
}
@media (max-width:1280px){
#chart {
  width:483px !important;
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
  width: 308px !important;
  height: 220px !important;
}
}
@media (max-width:1024px){
#chart {
  width:360px !important;
  height:300px !important;
}
}
@media (max-width:768px){
#chart {
  width:468px !important;
  height: 300px !important;
}
}
@media (max-width:736px){
#chart {
  width:685px !important;
  height: 300px !important;
}
}
@media (max-width:640px){
#chart {
  width:580px !important;
  height:250px !important;
}
}
@media (max-width:540px){
#chart {
  width:464px !important;
  height:250px !important;
}
}
@media (max-width:480px){
#chart {
  width:447px !important;
  height:250px !important;
}
}
@media (max-width:320px){
#chart {
  width:298px !important;
  height:250px !important;
}
.copy {
  padding: 10px;
}
.copy p{
  font-size:13px;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 6px 7px;
  font-size: 16px;
}
.label {
  font-size: 56%;
}
.pagination-lg>li>a, .pagination-lg>li>span {
  padding: 8px 13px;
  font-size: 15px;
}
.nav>li>a {
  padding: 7px 8px;
}
.modal-dialog {
  width: 245px !important;
}
}
